# Moved from api-service/.gitignore
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Metals IDE ###
.metals/
.bloop/
.bloopgun-bsp

### Build & Dependencies ###
.m2/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz

# Exclude large files exceeding GitHub's size limit
*.mv.db
query-worker/target/
ingestion-worker/target/
api-service/target/
cdc-worker/target/
.specify/
